<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apifunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/86e633dc-8f55-48ca-aff8-78eedd097cf0/resourcegroups/getqa/providers/Microsoft.Web/sites/APIFunctions</ResourceId>
    <UserName>$APIFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://apifunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>