<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://olssonapifunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c1cb9db3-7971-4d95-9e2a-228075044e63/resourcegroups/OlssonGet2/providers/Microsoft.Web/sites/OlssonAPIFunctions</ResourceId>
    <UserName>$OlssonAPIFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://olssonapifunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>